@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    10 Broadway Suite 700,<br />
    Salt Lake City<br />
    Utah 84101, USA<br />
    <abbr title="Phone">P:</abbr>
    +1 (385) 290 1395
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@getcloudcherry.com">Support@getcloudcherry.com</a><br />
</address>