@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Future of Customer Experience Management</h1>
    <p class="lead">The Most Advanced, Simple to Use CX Platform in the Market.</p>
    <p><a href="@Url.Action("CloudCherry", "Home")" target="_blank" class="btn btn-primary btn-lg">Login to CloudCherry &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Customer Experience Solution That Drives Organizational Growth</h2>
        <p>
            Derive path-breaking customer insights that shape CX investments.
        </p>
        <p><a class="btn btn-default" href="https://www.getcloudcherry.com/customer-experience-management/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make the Voice of Customer an Integral Driver of Loyalty</h2>
        <p>A complete VOC program to improve customer experience and drive profits.</p>
        <p><a class="btn btn-default" href="https://www.getcloudcherry.com/voice-of-customer/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enhancing Customer Experience at your Enterprise</h2>
        <p>Collect feedback across multiple touchpoints, derive key insights and improve customer retention.</p>
        <p><a class="btn btn-default" href="https://www.getcloudcherry.com/enterprise-feedback-management/">Learn more &raquo;</a></p>
    </div>
</div>